<div class="footer">
  <hr>
  <div class="footerText">
    <ul>
      <li><a href="/about.html#about">About This Site</a></li>
      <li><a href="/about.html#contact">Contact</a></li>
    </ul>
      <a href="/"><img id="logo" src="/assets/images/logo.svg" alt="Logo"></a>
    <div class="hostedBy">
      <p>Hosted by</p>
      <a href="https://github.com/"><img src="/assets/images/github_text.svg" alt="Github"></a>
      <p>thanks to</p>
      <a href="https://pages.github.com/"><img src="/assets/images/github_text.svg" alt="Github">Pages.</a>
    </div>
  </div>
</div>
