<nav id="navbar" class="{{ include.class }}">
  <nav id="inner" class="{{ include.class }}">
    <div class="homeLink">
      <a href="/">{{ site.title }}</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
    <div class="navLinks">
      <a href="/about.html">About Me</a>
      <a href="/gear.html">Gear</a>
      <a href="/blog/index.html">Blog</a>
    </div>
  </nav>
  <div id="mobileLinks" style = "display: none;">
    <a href="/about.html">About Me</a>
    <a href="/gear.html">Gear</a>
    <a href="/blog/index.html">Blog</a>
  </div>
</nav>

<script>
function myFunction() {
  var x = document.getElementById("mobileLinks");
  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  var y = document.getElementById("nav-icon2");
  y.classList.toggle("open")
}
</script>
